html, body, #container{
	margin: 0px;
	font-family: Arial;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#title_header {
	opacity: 0.95;
	z-index: 1;
	position: fixed;
	height: 90px;
	width: 100%;
	/*position: absolute;*/
	top: 0%;
	background-color: white;
	box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.4);
}

#title_logo img {
	position: absolute;
	top: 10px;
	left: 150px;
	width: 175px;
	height: 65px;
}

#title_image {
	margin-top: 100px;
}

#title_image img {
	width: 100%;
	height: 100%;
}

#title_image_text_wrapper {
	position: relative;
	top: 50%;
	left: 20%;
}

#header_links {
	position: absolute;
	top: 50%;
	right: 150px;
}

#header_links a {
	color: black;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding: 0px 10px;
	word-wrap: normal;
	display: inline-block;	
}

#header_links a:hover {
	color: #BADDE9;
}

.active {
	color: #BADDE9 !important;
}

.content_break {
	border: 0;
	width: 50%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    position: relative;
    left: 25%;
}

.section h1 {
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.section p {
	padding-top: 25px;
	left: 25%;
	position: relative;
	text-align: center;
	width: 50%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

#what_we_do {
	width: 100%;
	height: 700px;
}

#what_we_do iframe {
	position: absolute;
	left:25%;
	width: 50%;
	height: 400px;
}

.section {
	padding-top: 20px;
	/*position: relative;*/
	width: 100%;
	height: 500px;
}

.section:nth-child(even) {
	background-color: #F9F9F9;
}

#strategy_wrapper {
	padding: 0;
	position: absolute;
	left: 25%;
	width: 100%;
}

.strategy_icon {
	padding-left: 50px;
	height: 100px;
	width: 100px;
}

.strategy {
	display: none;
}

